*{
  padding: 0;
  margin: 0;
}

.fixed{
  position: sticky;
  top: 0;
  z-index: 100;
}


/* Header Container */
.header_container {
  background-color: black;
  display: flex;
  gap: 20px;
  align-items: center;
  color: white;
  height: 70px;
  padding: 0 20px;
  box-sizing: border-box;

}

/* Logo Section */
.logo_container {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 250px;
}

.logo_container img {
  width: 150px;
  vertical-align: middle;
  cursor: pointer;
}

/* Delivery Section */
.delivery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  color: white;
}

.delivery p {
  margin: 0;
  font-size: 10px;
  
}

.delivery span {
  font-weight: bold;
}

/* Search Section */
.search {
  display: flex;
  align-items: center;
  flex: 1;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.search select {
  padding: 10px;
  border: none;
  background-color: #f3f3f3;
  cursor: pointer;
}

.search input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.search_icon {
  padding: 10px;
  background-color: orange;
  color: black;
  cursor: pointer;
}

/* Right Links Section */
.order_container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  gap: 20px;
}

.order_container a {
  text-decoration: none;
  color: white;
}
.order_container p{
  font-size: 10px;
}
.account, .orders {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.account p, .orders p {
  margin: 0;
  font-size: 10px;
}


/* Language Selector */
.language {
 width: 100px;
  align-items: center;
  display: flex;
  padding: 10px;
}

.language img {
  width: 40%;
 
 
}

.language select {
  background-color: black;
  color: white;
  border: none;
 
}

/* Cart Section */
.cart {
  position: relative;
 
}
.cart span{
  position: absolute;
  font-weight: bold;
  top: 0px;
  font-size: 20px;
  background-color: black;
  left: 16px;
  color: orange;
}
.order_container a:hover,.delivery:hover,.logo_container a:hover ,.lower_container ul li:hover{
border: 1px solid white;

}
.lower_container{
  background-color: black;
  color: white;
  
}
.lower_container ul{
  display: flex;
  list-style: none;
  gap: 5px;
}
.lower_container ul li{
  padding: 8px;
}
.lower_container ul li:first-child{
  display: flex;
  gap: 2px;
  align-items: center;
}
/* Media Queries for Responsiveness */ 
@media  (max-width: 768px) {
  .header_container {
     display: flex;
     flex-direction: column !important;
     height: auto;
  }

  lower_container ul li:not(:first-child){
    display: none;
  }

  .language {
    display: none;
  }
}